# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Dependencias
/node_modules
/vendor

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Directorios de caché
.cache/
.sass-cache/
.npm/
.eslintcache

# Archivos de compilación
/dist
/build
/out

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.tmp
*.temp
*.swp
*~
